<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/tokidex.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Quicksand&display=swap">
  <script src="/js/tokimon.js" defer></script>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
  <form class="" action="/individuals" method="get">
    <button id="backButton" onclick="" type="submit" class="button">Back</button>
  </form>
  <div class="row" align="right">
    <h1 align="center">Your Tokidex</h1>
    <form class="" action="/sort" method="post">
      <select class="" name="">
        <option value="Name">Name</option>
        <option value="Height">Height</option>
        <option value="Weight">Weight</option>
        <option value="Total Ability">Total Ability</option>

      </select>
    </form>
  </div>

  <table id="tokimonTable" border="1">
    <tr>
      <th class="noborder"></th>
      <th id="tokimonCells">Tokimon</th>
      <th id="tokimonCells">Trainer</th>
      <th id="tokimonCells">Height</th>
      <th id="tokimonCells">Weight</th>
      <th id="tokimonCells">Favourite food</th>
      <th id="tokimonCells">Electric</th>
      <th id="tokimonCells">Fight</th>
      <th id="tokimonCells">Fire</th>
      <th id="tokimonCells">Fly</th>
      <th id="tokimonCells">Ice</th>
      <th id="tokimonCells">Water</th>
      <th id="tokimonCells">Total Ability</th>
    </tr>
    <% if(results.length){
      results.forEach(function(r){ %>
    <tr>
      <td id="tokimonCells" class="noborder">
        <form class="form-inline" action="/edit/<%=r.name%>" method="get">
          <button id="edit" type="submit" name="button">Edit</button>
        </form>
        <form id="deleteForm" class="form-inline" action="/deleteTokimon/<%=r.name%>" method="get">
          <button id="delete" type="submit" name="button">Delete</button>
        </form>
      </td>
      <td id="tokimonCells"><%=r.name%></td>
      <td id="tokimonCells"><%=r.trainer%></td>
      <td id="tokimonCells"><%=r.height%></td>
      <td id="tokimonCells"><%=r.weight%></td>
      <td id="tokimonCells"><%=r.food%></td>
      <td id="tokimonCells"><%=r.electric%></td>
      <td id="tokimonCells"><%=r.fight%></td>
      <td id="tokimonCells"><%=r.fire%></td>
      <td id="tokimonCells"><%=r.fly%></td>
      <td id="tokimonCells"><%=r.ice%></td>
      <td id="tokimonCells"><%=r.water%></td>
      <td id="tokimonCells"><%=r.total%></td>
    </tr>
  <%})};%>

  </table>


</div>

</body>
</html>
