<!DOCTYPE html>
<html>
<head>
<!--  <% include ../partials/header.ejs %>-->
  <link rel="stylesheet" href="/stylesheets/tokidex.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Quicksand&display=swap">
  <script src="/js/tokimon.js" defer></script>
</head>

<body>

<!--<% include ../partials/nav.ejs %>-->

<div class="container">
  <form class="" action="/individuals" method="get">
    <button id="backButton" onclick="" type="submit" class="button">Back</button>
  </form>
  <div class="row" align="right">
    <div id="titleCircle" class="circle">
      <h1 align="center">Your Tokidex</h1>
    </div>
    <form id="sortList" class="" action="/sort" method="post">
      Sort by:
      <select class="" name="attributes" id="sortList">
        <option name="name">Name</option>
        <option name="height" selected>Height</option>
        <option name="weight">Weight</option>
        <option name="total">Total</option>
      </select>
      <input id="sortList" type="submit" name="sort" value="Sort!">
    </form>
  </div>

  <table id="dbTable">
    <tr>
      <th id="dbCells" style="border-left: none;"></th>
      <th id="dbCells">Tokimon</th>
      <th id="dbCells">Trainer</th>
      <th id="dbCells">Height</th>
      <th id="dbCells">Weight</th>
      <th id="dbCells">Favourite food</th>
      <th id="dbCells">Electric</th>
      <th id="dbCells">Fight</th>
      <th id="dbCells">Fire</th>
      <th id="dbCells">Fly</th>
      <th id="dbCells">Ice</th>
      <th id="dbCells">Water</th>
      <th id="dbCells">Total Ability</th>
    </tr>
    <% if(results.length){
      results.forEach(function(r){ %>
    <tr>
      <td id="dbCells" class="noborder">
        <form class="form-inline" action="/edit/<%=r.name%>" method="get">
          <button id="edit" type="submit" name="button">Edit</button>
        </form>
        <form id="deleteForm" class="form-inline" action="/deleteTokimon/<%=r.name%>" method="get">
          <button id="delete" type="submit" name="button">Delete</button>
        </form>
      </td>
      <td id="dbCells"><%=r.name%></td>
      <td id="dbCells"><%=r.trainer%></td>
      <td id="dbCells"><%=r.height%></td>
      <td id="dbCells"><%=r.weight%></td>
      <td id="dbCells"><%=r.food%></td>
      <td id="dbCells"><%=r.electric%></td>
      <td id="dbCells"><%=r.fight%></td>
      <td id="dbCells"><%=r.fire%></td>
      <td id="dbCells"><%=r.fly%></td>
      <td id="dbCells"><%=r.ice%></td>
      <td id="dbCells"><%=r.water%></td>
      <td id="dbCells"><%=r.total%></td>
    </tr>
  <%})};%>

  </table>


</div>

</body>
</html>
