<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/tokidex.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Quicksand&display=swap">
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
  <% if(results.length){
    results.forEach(function(r){ %>
  <h1 align="center"><%=r.name%></h1>
  <table id="tokimonTable" border="1">
    <tr>
      <th id="tokimonCells">Tokimon</th>
      <th id="tokimonCells">Trainer</th>
      <th id="tokimonCells">Height</th>
      <th id="tokimonCells">Weight</th>
      <th id="tokimonCells">Favourite food</th>
      <th id="tokimonCells">Electric</th>
      <th id="tokimonCells">Fight</th>
      <th id="tokimonCells">Fire</th>
      <th id="tokimonCells">Fly</th>
      <th id="tokimonCells">Total Ability</th>
    </tr>
    <tr>
      <td id="tokimonCells"><%=r.name%></td>
      <td id="tokimonCells"><%=r.trainer%></td>
      <td id="tokimonCells"><%=r.height%></td>
      <td id="tokimonCells"><%=r.weight%></td>
      <td id="tokimonCells"><%=r.food%></td>
      <td id="tokimonCells"><%=r.electric%></td>
      <td id="tokimonCells"><%=r.fight%></td>
      <td id="tokimonCells"><%=r.fire%></td>
      <td id="tokimonCells"><%=r.fly%></td>
      <td id="tokimonCells"><%=r.total%></td>
    </tr>


  </table>

  <form class="" action="/edit/<%=r.name%>" method="get">
    <button id="homeButton" onclick="" type="submit" class="button">Edit</button>
  </form>
  <%})};%>
</div>

</body>
</html>
